.visitProject, .visitLatestProject {
    color: white;
    height: 20px;
    width: 100px;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    background: var(--gradientBackground);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}
@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
.projectTitle {
    color: var(--primaryColor);
    font-size: 40px;
    font-weight: 700;
}
.projectDescription {
    color: var(--primaryColor);
    font-size: 23px;
}
.projectInfo {
    width: fit-content;
    padding: 20px;
    overflow-y: auto;
}
.projectInfo::-webkit-scrollbar {margin-top: 20px; width: 10px;}
.projectInfo::-webkit-scrollbar-track {visibility: hidden;}
.projectInfo::-webkit-scrollbar-thumb {visibility: hidden;}
#workingOnProjectInfo {padding: 130px 100px;}
.projectCaption {
    font-size: 25px;
    color: var(--primaryColor);
    height: 100%;
    border-radius: 40px;
}
.projectCaptionDiv {
    height: 484px;
    border-radius: 40px;
    padding: 8px;
    background: var(--gradientBackground);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    margin-right: 20px;
    position: relative;
    right: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, right 0.3s;
}
.projectDiv {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    backdrop-filter: blur(10px);
    height: 500px;
    border-radius: 40px;
    margin: 0px 0px 20px 0px;
}
.projectsDiv {margin: 0px 0px 100px 0px;}
.projectsStatut {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--primaryColor);
    font-size: 30px;
    font-weight: 700;
    display: flex;
    margin: 20px 20px 20px 20px;
}
.dots {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 30px;
}
#gallerySection {
    width: 90%;
    text-align: left;
}
#underLine {
    width: 145px;
    top: -13px;
    right: -68px;
}
#academicnexus {
    background: none;
    background-color: rgb(100, 100, 100);
    cursor: not-allowed;
}
body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    background-image: url('../../PortfolioMedia/PortfolioGalleryBG.jpg');
    background-size: cover;
    background-position: center 0px -50px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media only screen and (max-width: 1500px) {
    #workingOnProjectInfo {padding: 60px;}
    body{ background-position: -300px 0px;}
}
@media only screen and (max-width: 1000px) {
    #workingOnProjectInfo {padding: 40px;}
    body{ background-position: -600px 0px;}
}
@media only screen and (max-width: 900px) {
    .projectDiv {
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .projectCaptionDiv {
        width: fit-content;
        margin: 20px;
    }
}
@media only screen and (max-width: 600px) {
    #workingOnProjectInfo {padding: 50px 30px;}
    body{ background-position: -800px 0px;}
}
@media only screen and (max-width: 500px) {
    body{ background-position: -850px 0px;}
    .projectCaption {
        width: 100%;
        height: auto;
    }
    .projectCaptionDiv {
        width: 90%;
        padding: 8px 8px 3px 8px;
        height: fit-content;
    }
}
@media only screen and (max-width: 400px) {
    body{ background-position: -900px 0px;}
    .projectTitle {
        color: var(--primaryColor);
        font-size: 30px;
        font-weight: 700;
    }
    .projectDescription {
        color: var(--primaryColor);
        font-size: 15px;
    }
    .projectsStatut {
        font-size: 25px;
        font-weight: 600;
    }
    .dots {font-size: 25px;}
    .projectCaptionDiv {padding: 5px 5px 0px 5px;}
    #gallerySection {margin-top: -50px;}
}