@keyframes gradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}
#navCont {
    padding: 10px;
    line-height: 40px;
    transition: width 0.2s;
    text-align: left;
    height: 100%;
    width: 0px;
    top: 0;
    right: -100px;
    z-index: 9999;
    position: fixed;
    background: var(--gradientBackground);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}
#darkBgNavDiv {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9998;
    display: none; 
    position: fixed;
}
#hrDiv {
    display: none;
    cursor: pointer;
}
hr {
    background-color: var(--primaryColor);
    height: 5px;
    width: 50px;
    border-radius: 5px;
}
.navLinks, .responsiveNavLinks {
    font-size: 35px;
    font-weight: 700;
    display: inline;
    cursor: pointer;
    margin: 0px 20px 0px 20px;
    color: var(--primaryColor);
}
.responsiveNavLinks {
    color: white;
    font-size: 30px;
}
#navLinksCont {
    margin-top: 20px;
    float: right;
}
#navLogo {
    border-radius: 50%;
    border: 5px solid var(--primaryColor);
    float: left;
    width: 150px;
    height: 150px;
}
nav {
    padding: 20px 100px 0px 100px;
    margin: 0px 0px 50px 0px;
    height: 170px;
}
#underLine {
    height: 5px;
    border: none;
    background-color: var(--primaryColor);
    position: relative;
}
:root {
    --primaryColor: rgb(190, 205, 212);
    --gradientBackground: linear-gradient(to right, 
        rgb(80, 80, 80), 
        rgba(255, 95, 95, 0.494), 
        rgba(254, 123, 252, 0.463), 
        rgba(142, 134, 255, 0.447), 
        rgba(131, 240, 250, 0.475), 
        rgba(131, 250, 175, 0.475), 
        rgba(228, 250, 131, 0.475), 
        rgba(250, 188, 131, 0.475), 
        rgba(250, 131, 131, 0.475)
    );
    --gradientSpan: linear-gradient(to right, 
        rgb(80, 80, 80), 
        rgba(255, 95, 95, 0.894), 
        rgba(254, 123, 252, 0.863), 
        rgba(142, 134, 255, 0.847), 
        rgba(131, 240, 250, 0.875), 
        rgba(131, 250, 175, 0.875), 
        rgba(228, 250, 131, 0.875), 
        rgba(250, 188, 131, 0.875), 
        rgba(250, 131, 131, 0.875)
    );
}
@media only screen and (max-width: 800px) {
    nav {padding: 20px 70px 0px 40px;}
    #navLogo {
        height: 100px;
        width: 100px;
    }
    .navLinks {display: none;}
    #underLine {display: none;}
    #hrDiv {display: block;}
}
@media only screen and (max-width: 600px) {nav {padding: 20px 60px 0px 40px;}}
@media only screen and (max-width: 450px) {
    #navLogo {
        height: 80px;
        width: 80px;
        border: 3px solid var(--primaryColor);
    }
    nav {padding: 10px 40px 0px 30px;}
    hr {
        height: 3px;
        width: 35px;    
    }}
@media only screen and (max-width: 300px) 
    {nav {padding: 20px 20px 0px 20px;}
}