footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 50px;
    border-top: 2px solid rgb(55, 65, 81);
}

.reserved {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

.contact-icons {
    display: flex;
    gap: 50px;
}

.contact-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    border-radius: var(--main-border-radius);
    padding: 10px;
}

.linkedin:hover {
    background-color: rgb(8, 85, 162); 
}

.github:hover {
    background-color: rgb(83, 78, 78); 
}

.instagram:hover {
    background: linear-gradient(45deg, rgb(228, 64, 17), rgb(193, 53, 132), rgb(108, 43, 144)); 
}

.facebook:hover {
    background-color: rgb(20, 98, 198); 
}

@media only screen and (max-width: 1000px) {
    footer {
        display: flex;
        flex-direction: column-reverse;
        padding: 50px 0px;
        gap: 20px;
    }

    .reserved {
        text-align: center;
        font-size: 15px;
    }

    .contact-icons {
        display: flex;
        gap: 20px;
    }

}